@model CAPstone.Models.ParentsPreferenceSelectionEditorViewModel

@{
    ViewBag.Title = "Preferences";
}

<h2>Get started by choosing your preferences below:</h2>

@using (Html.BeginForm("SubmitSelected", "Preferences", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
{
    <div>
        <input type="checkbox" id="checkall" /><span>Check All</span>
    </div>

    <div id="checkboxes">
        <table class="table">
            <tr>
                <th>
                    Select
                </th>
                <th>
                    Preferences
                </th>
                <th></th>
            </tr>
            @Html.EditorFor(model => model.Preferences)
        </table>
    </div>
    <hr />
    <br />
    <input type="submit" name="operation" id="submit" value="Submit Selected" onclick="https://maps.googleapis.com/maps/api/place/details/json?place_id=ChIJN1t_tDeuEmsRUsoyG83frY4&fields=name,rating,formatted_phone_number&key=API_Key" />
    <input type="button" value="Submit" onclick="AddBudget()">
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        function toggleChecked(status) {
            $("#checkboxes input").each(function () {
                $(this).prop("checked", status);
            });
        }

        $(document).ready(function () {

            $("#checkall").prop('checked', true);

            $("#checkall").click(function () {
                var status = $("#checkall").prop('checked');
                toggleChecked(status);
            });
        });
    </script>
}

