@model CAPstone.Models.Parent

@{
    ViewBag.Title = "AddMiles";
}

<h2>Traveling Distance</h2>

@using (Html.BeginForm())
{
    <form id="my-form">
        <input type="text" name="Miles" placeholder="Miles" />
        <input type="button" value="Submit" onclick="@Html.ActionLink("GenerateStaticMapUrlForSeletedPreference", "Preference")";  />
        <input type="button" value="Skip" onclick="@Html.ActionLink(" GenerateStaticMapUrlForSeletedPreference", "Preference")";' />
    </form>


    <script src="https://maps.googleapis.com/maps/">
    </script>
}
