@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Parent's Date Night</h1>
    <p class="lead">Welcome Parents!!!! This is where is gets easy, get started by registering, simply click below.</p>
    <p><a href="https://localhost:44323/preferences/index" class="btn btn-primary btn-lg">Preferences &raquo;</a></p>
</div>



<script type="text/javascript">
function add_chatinline(){var hccid=59037510;var nt=document.createElement("script");nt.async=true;nt.src="https://mylivechat.com/chatinline.aspx?hccid="+hccid;var ct=document.getElementsByTagName("script")[0];ct.parentNode.insertBefore(nt,ct);}
add_chatinline(); </script>
