@{
    ViewBag.Title = "Magic";
}
<h2>See what parents' happiness looks like below.  Check out the magic that happens behind the scenes!!!</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
